/*fonts:
Title:
font-family: 'Bree Serif', serif;
Sentence:
font-family: 'Liu Jian Mao Cao', cursive;
*/

.container{
    min-height: 50vh;
    position:relative;
    overflow: hidden;
}
.headerBackground{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 50%;
}
.column{
    float:left;
    position: relative;
    left: 15px;

}
.logotxt{
    height: 60px;
}

.left {
position: relative;
    left: 50px;
    margin-top:-8px;
    margin-left: -40px;
}
.lowerLogo{
    margin-top:17px;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.center{
    width:100%;
    position:relative;
}
.headerWork{
    margin:10% auto;
    height: 100%;
    width: 100%
}

h2.title{
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    font-size: 5vw;
    color: #333
}
.sentence{
    margin-top:5vh;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 3vw;
}
.searchBar{
    margin:10vh;
}
.searcher{
    display:block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 30px;
    padding: 1vw;
    font-size: 1.5vw;
    background-color:black;
    color: #888;
    opacity: 30%;
    transition: 0.2s;
}
.searcher:hover{
    opacity:1;
}

.active{
    opacity:1;
}

.btnstyle{
    margin: 2% auto;
    padding: 2px 5px;
    font-size: 1.5vw;
    color: #333;
    background-color: transparent;
cursor: pointer;
    transition: 0.2s;

}
.btnstyle:hover{
    background-color: white;
    box-shadow: 0 0 5px 5px #333;
}

