.sectionContainer{
margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
h2{
  margin:10px auto;
    font-size: 4vw;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}
.imgContainer{
    display: flex;
    flex-basis: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink:0;
}
.albumImageStyle{
    margin-top: 10px;
    height: 20vw;
    width: 30vw;
    box-shadow: 0 2px 5px 2px #333;
}
.hiddenStripe {
    position: absolute;
    bottom: -15px;
    height: 4vw;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
    opacity: 1;
    transition: 1s;
    /*animation: 1s slide-up;*/
}
.translate{
    transform: translateY(-15px);
}
/*@keyframes slide-up {*/
/*   0% {*/
/*        bottom: -15px;*/
/*    }*/
/*50% {*/
/*        bottom: -3px;*/

/*    }*/
/*    90%{*/
/*        bottom: -2px;*/
/*        opacity: 1;*/
/*    }*/
/*    100%{*/
/*        bottom: 0;*/
/*        opacity: 1;*/
/*    }*/
/*}*/