.App {
  text-align: center;
}
/*.pacmanLoader{*/
/*  !*display: flex;*!*/
/*  !*top: 50%;*!*/
/*  !*left: 50%;*!*/
/*  !*transform: translate(-50%,-50%) scale(-1);*!*/
/*font-size: 20px;*/
/*}*/
.sectionHeaderStyle{
  margin: 0;
  background-image: url("./assets/wall.jpg");
}
.specialInformation{
  display: block;
  height: 4vw;
  width: 100%;
  background-color: black;
  color: darkred;
  font-size: 2vw;
  line-height: 4vw;
}

.spinnerContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}