.App {
  text-align: center;
}

.sectionHeaderStyle{
  margin: 0;
  background-image: url("./assets/wall.jpg");
}
.specialInformation{
  display: block;
  height: 4vw;
  width: 100%;
  background-color: black;
  color: darkred;
  font-size: 2vw;
  line-height: 4vw;
}
